<app-sp-loader *ngIf="showLoader"></app-sp-loader>
<section class="main-header-wrapper">
  <div class="container">
    <div class="logo-portion">
      <!-- <h2>{{ siteTitle }}</h2> -->
      <a routerLink="/"><img [src]="headerLogo" /></a>
    </div>
    <div class="nav-menu-portion">
      <nav>
        <ul>
          <li>
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li>
            <a routerLink="/categories" routerLinkActive="active">Category</a>
          </li>
          <li>
            <a routerLink="/blogs" routerLinkActive="active">Blog</a>
          </li>
          <li>
            <a
              href="javascript:void(0);"
              class="login-click"
              (click)="openLoginModal()"
            >
              <img [src]="userIcon" />
            </a>
          </li>
          <li>
            <img [src]="searchIcon" />
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<section class="banner-section" *ngIf="showBanner">
  <figure>
    <img [src]="bannerImage" />
  </figure>
</section>
