<section class="main-footer-wrapper">
  <div class="footer-menu-sec container">
    <div class="menu-list">
      <img [src]="footerLogo" />
    </div>
    <div class="menu-list">
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/">Contact Us</a>
        </li>
        <li>
          <a routerLink="/">About Us</a>
        </li>
        <li>
          <a routerLink="/">Blog</a>
        </li>
      </ul>
    </div>
    <div class="menu-list">
      <ul>
        <li>
          <a routerLink="/">Terms of Use</a>
        </li>
        <li>
          <a routerLink="/">Privacy Policy</a>
        </li>
        <li>
          <a routerLink="/">Contact Us</a>
        </li>
        <li>
          <a routerLink="/">Sitemap</a>
        </li>
      </ul>
    </div>
    <div class="menu-list">
      <aside>
        <h4>Connect Us:</h4>
        <ul class="social-icons">
          <li>
            <a routerLink="/">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a routerLink="/">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a routerLink="/">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
        </ul>
      </aside>
    </div>
  </div>
  <hr />
  <div class="copyright-section">
    &copy; Copyright {{ showYear }} SportsBlog. All rights reserved.
  </div>
</section>
