.main-footer-wrapper {
  /* background-image: url('../../assets/images/footer-bg.jpg'), linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
  padding-top: 3.125rem;
  margin-top: 0 !important;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  background-color: #333;
  padding-left: 30px;
}
.main-footer-wrapper .footer-menu-sec .menu-list {
  width: 20%;
  display: inline-block;
  padding: 5px;
  margin-left: 4%;
}
.main-footer-wrapper .footer-menu-sec .menu-list aside h4{
  color: #fff;
}
.main-footer-wrapper .footer-menu-sec .menu-list ul{
  padding-left: 0;
}
.main-footer-wrapper .footer-menu-sec .menu-list ul li{
  list-style: none;
  display: block;
  padding: 5px;
}
.main-footer-wrapper .footer-menu-sec .menu-list ul.social-icons li{
  list-style: none;
  display: inline-block;
  padding: 5px;
}
.main-footer-wrapper .footer-menu-sec .menu-list ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.copyright-section {
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding-bottom: 30px;
}
hr{
  width: 95%;
  margin-bottom: 15px;
}
