<div class="main-body-container container">
  <h2>Latest News</h2>
  <div class="add-blog">
    <a routerLink="/add-blog">Add Blog</a>
  </div>
  <div *ngIf="numberOfBlogs > 0; else blogsNotFound">
    <div class="news-wrap" *ngFor="let eachBlog of blogList">
      <h4>
        <a
          [routerLink]="['blog', eachBlog.ID]"
          routerLinkActive="router-link-active"
          >{{ eachBlog.title }}</a
        >
      </h4>
      <div class="blog-img">
        <img [src]="eachBlog.image" width="300" />
      </div>
      <div class="news-meta">
        <span>Posted on: {{ eachBlog.posted_on | date: mediumDate }} </span> |
        <span>{{ eachBlog.category }}</span>
        <span>
          <button
            (click)="editBlog(eachBlog.ID)"
            mat-raised-button
            color="primary"
          >
            Edit
          </button>
          <button
            (click)="deleteBlog(eachBlog.ID)"
            mat-raised-button
            color="warn"
          >
            Delete
          </button>
        </span>
      </div>
      <p>{{ eachBlog.content | limitchar: 400 }}</p>
    </div>
  </div>
  <ng-template #blogsNotFound>
    <div>No blogs found.</div>
  </ng-template>
</div>
