<div class="main-body-container container">
  <div class="row">
    <div class="col-md-3">
      <app-user-sidebar></app-user-sidebar>
    </div>
    <div class="col-md-9">
      <h2>Categories</h2>
      <div class="action-new-btn">
        <a routerLink="/my-account/add-category"
          ><i class="fa fa-plus" aria-hidden="true"></i> Add Category</a
        >
      </div>
      <table mat-table [dataSource]="listCategories" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container> -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">
            {{ element.description | limitchar: 50 }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button
              (click)="onCatEdit(eachCategory.term_id)"
              class="action-btn"
            >
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
            |
            <button
              (click)="onCatDelete(eachCategory.term_id)"
              class="action-btn"
            >
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <!-- <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let eachCategory of listCategories; let i = index">
            <td>{{ eachCategory.name }}</td>
            <td>{{ eachCategory.description | limitchar: 20 }}</td>
            <td>
              <button
                mat-raised-button
                color="primary"
                (click)="onCatEdit(eachCategory.term_id)"
              >
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
              |
              <button
                mat-raised-button
                color="warn"
                (click)="onCatDelete(eachCategory.term_id)"
              >
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>
