<div class="main-body-container">
  <div style="text-align: right;">
    <a routerLink="/add-category">Add Category</a>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let eachCategory of listCategories;let i = index;">
        <td>{{ eachCategory.category_name }}</td>
        <td>{{ eachCategory.category_desc | limitchar:20 }}</td>
        <td>
          <button mat-raised-button color="primary" (click)="onCatEdit(eachCategory._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button> |
          <button mat-raised-button color="warn" (click)="onCatDelete(eachCategory._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
      </tr>
      <!-- <div *ngIf="listCategories.length > 0; else noCategories">
        <tr *ngFor="let eachCategory of listCategories">
          <td>{{ eachCategory.category_name }}</td>
          <td>{{ eachCategory.category_description }}</td>
          <td>
            <button color="primary">Edit</button> |
            <button>Delete</button>
          </td>
        </tr>
      </div>
      <div #noCategories>
        <tr>
          <td colspan="3">No categories found.</td>
        </tr>
      </div> -->
    </tbody>
  </table>
</div>
