<section class="sidebar-component">
  <ul>
    <li>
      <a
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >dashboard</mat-icon
        >Dashboard</a
      >
    </li>
    <li>
      <a
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >dashboard</mat-icon
        >My Blogs</a
      >
    </li>
    <li>
      <a
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >dashboard</mat-icon
        >My Categories</a
      >
    </li>
    <li>
      <a
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >dashboard</mat-icon
        >My Profile</a
      >
    </li>
    <li>
      <a
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >dashboard</mat-icon
        >My Subscription</a
      >
    </li>
    <li>
      <a
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >dashboard</mat-icon
        >Log out</a
      >
    </li>
  </ul>
</section>
