.main-body-container {
    padding: 60px 0;
}
.main-body-container h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    display: inline-block;
}
table {
    width: 100%;
}
.main-body-container .action-new-btn {
    float: right;
    display: inline-block;
    background: #c31815;
    padding: 8px 20px;
    border-radius: 5px;
}
.main-body-container .action-new-btn a {
    color: #ffffff;
}
.main-body-container .action-btn {
    border: none;
    color: #c31815;
    background: none;
}
.mat-column-image{
    padding: 20px;
}
.my-blog-img{
    width: 100px;
}