<section class="sidebar-component">
  <ul>
    <li>
      <a routerLink="/my-account/dashboard" routerLinkActive="active"
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >dashboard</mat-icon
        >Dashboard</a
      >
    </li>
    <li>
      <a routerLink="/my-account/my-blogs" routerLinkActive="active"
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >description</mat-icon
        >My Blogs</a
      >
    </li>
    <li>
      <a routerLink="/my-account/categories" routerLinkActive="active"
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >book</mat-icon
        >My Categories</a
      >
    </li>
    <li>
      <a routerLink="/my-account/profile" routerLinkActive="active"
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >account_circle</mat-icon
        >My Profile</a
      >
    </li>
    <li>
      <a routerLink="/my-account/subscription" routerLinkActive="active"
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >subscriptions</mat-icon
        >My Subscription</a
      >
    </li>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active"
        ><mat-icon aria-hidden="false" aria-label="Example home icon"
          >logout</mat-icon
        >Log out</a
      >
    </li>
  </ul>
</section>
