<div class="main-body-container">
  <h2>Add Category</h2>
  <mat-card>
    <mat-card-title>Add Category Details</mat-card-title>
    <form [formGroup]="categoryAddForm" (submit)="onAddCategorySubmit()">
      <div>
        <mat-form-field>
          <input type="text" name="category_name" formControlName="category_name" matInput placeholder="Category Name"/>
          <mat-error *ngIf="categoryAddForm.get('category_name').errors?.required">Category name is required.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <textarea name="category_desc" formControlName="category_desc" matInput placeholder="Category Description"></textarea>
          <mat-error *ngIf="categoryAddForm.get('category_desc').errors?.required">Category description is required.</mat-error>
          <mat-error *ngIf="categoryAddForm.controls['category_desc'].hasError('maxlength')">Maximum length would be 100.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button type="submit" mat-raised-button color="primary">Save</button>
      </div>
    </form>
  </mat-card>
</div>
