<!-- <section class="site-modal user-login-modal">
  <div class="site-modal-content">
    <div class="site-modal-header">
      <h2>Forgot Password</h2>
      <span>
        <a href="javascript:void(0);" (click)="closeModal()">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >close</mat-icon
          >
        </a>
      </span>
    </div>
    <div class="site-modal-body"> -->
<div class="row">
  <div class="col-sm-12">
    <div class="login-frm">
      <form [formGroup]="forgotPassForm">
        <div class="">
          <mat-form-field>
            <input
              type="email"
              name="user_email"
              formControlName="user_email"
              placeholder="Email*"
              matInput
            />
            <mat-error *ngIf="forgotPassForm.get('user_email').errors?.required"
              >Email is required.</mat-error
            >
            <mat-error *ngIf="forgotPassForm.get('user_email').errors?.email"
              >Email is not in format.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="form-action-sec">
          <button mat-raised-button>Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- </div>
    <div class="site-modal-footer">
      Already have an account?
      <a href="javascript:void(0);" (click)="openLogin()">Login</a>
    </div>
  </div>
</section> -->
